* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Branding Standards */
:root{
    --red: red; 
    --blue: blue;
    --yellow: orange;
    --green: green;
    --orange: orangered;
    --purple: purple;
    --grey: dimgray;
    --lightgrey: rgb(184, 184, 184);
    --white: white;
    --mainfont: Helvetica, Arial, sans-serif;
}
/* Colour Classes */
.red{
    color: var(--red);
}
.blue{
    color: var(--blue);
}
.yellow{
    color: var(--yellow);
}
.green{
    color: var(--green);
}
.purple{
    color: var(--purple);
}
.orange{
    color: var(--orange);
}
/* Page Formatting */
body {
    color: var(--grey);
    font-family: var(--mainfont);
    display:block;
    text-align: center;
}
body span{
    font-weight: bold;
}
.container {
    background-color: var(--white);
    border-width: 1px;
    border-color: var(--lightgrey);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    max-width: 650px;
    padding: 40px;
    margin: 80px;
}
.title {
    font-size: 20px;
    padding: 10px;
    display:inline-block;
}
.title span {
    font-size: 36px;
}
nav {
    display:flex;
    justify-content: space-evenly;
}
nav div{
    margin: 10px 30px;
}
.heading {
    margin: 20px;
}
.question{
    padding: 10px;
    display:inline-block;
}
.question p{
    margin:0 0 20px 0;
}
.questionGrouping{
    border-bottom: 0.75px solid var(--lightgrey);
    border-top: 0.75px solid var(--lightgrey);
    display:inline-block;
}
.questionContainer{
    font-weight:bold;
    margin: 10px;
}
.answers{
    margin:20px;
}
.choices{
    font-weight:bold;
    list-style-type: lower-alpha;
    display:inline-block;
}
.choices li{
    margin: 5px;
    text-align: left;
}
ol a:hover {background: (--lightgrey)}

.btn {
    color: var(--white);
    font-size: 20px;
    background-color: var(--green);
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    padding: 14px 34px;
    cursor: pointer;

}
